<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Orchestrate-ai Music Mood Classifier</title>
  <link rel="stylesheet" href={{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}>
  <link rel="stylesheet" href={{ url_for('static', filename='css/style.css')}}>
  <link rel="stylesheet" href={{ url_for('static', filename='css/animation/component.css')}}>
</head>
<body>

  <div class="container">

    <!-- Header -->
    <div class="row">
      <div class="col-md-12 header">
        <h1>Orchestrate-ai Music Mood Classifier</h1>
      </div>
    </div>


    <div class="row">
        <div id="app">
            
      </div>
  </div>

  <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>

</body>
</html>
